/* 
#ffd027 - yellow
#aa2c58 - pink
#2a9d8f - light green
#214e34 - dark green

font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Parisienne', cursive;
*/

html body {
  font-family: "IBM Plex Sans", sans-serif;
}

.text-1 {
  color: #ffd027;
}
.text-2 {
  color: #aa2c58;
}
.text-3 {
  color: #2a9d8f;
}
.text-4 {
  color: #214e34;
}
.text-white {
  color: #ffffff;
}

.bg-1 {
  background-color: #ffd027;
}
.bg-2 {
  background-color: #aa2c58;
}
.bg-3 {
  background-color: #2a9d8f;
}
.bg-4 {
  background-color: #214e34;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.banner {
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner-filler {
  height: 50vh;
}
.banner-text {
  color: #fff;
  text-shadow: rgba(170, 44, 88, 0.55) 3px 2px 0px;
  font-family: "Parisienne", cursive;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  flex: 1;
}
.scroll-down {
  width: 100%;
  padding-bottom: 2rem;
}
.scroll-down img {
  filter: invert(100%);
  max-width: 5rem;
  height: auto;
  margin: 0 auto;
  display: block;
}

.pic-grid {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 720px) {
  .pic-grid {
    flex-direction: column;
  }
}

.pic-grid-item {
  flex: 1;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.heading-1 {
  font-family: "Parisienne", cursive;
  font-size: 5rem;
  text-align: center;
  margin: 1rem 0;
}

.registry-link {
  color: #aa2c58;
}
.registry-link:hover {
  color: #c5396a;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  max-width: 640px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.7em;
}

.text-container a {
  color: #aa2c58;
  font-weight: 700;
}

a.golf-sign-up {
  all: unset;
  padding: 1rem 2rem;
  background-color: #aa2c58;
  color: #fff;
  font-weight: 900;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.5s;
}

a.golf-sign-up:hover {
  background-color: #c5396a;
  box-shadow: 0px 8px 24px -9px #111;
  cursor: pointer;
}

.golf-container {
  background-image: url("./images/golf.jpg");
  background-position: center;
  background-size: cover;
}
.golf-container .text-container {
  padding: 1rem 2rem;
  background-color: #b2cf84d4;
}
