/* 
#ffd027 - yellow
#aa2c58 - pink
#2a9d8f - light green
#214e34 - dark green

font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Parisienne', cursive;
*/

html body {
  font-family: "IBM Plex Sans", sans-serif;
}

.text-1 {
  color: #ffd027;
}
.text-2 {
  color: #aa2c58;
}
.text-3 {
  color: #2a9d8f;
}
.text-4 {
  color: #214e34;
}
.text-white {
  color: #ffffff;
}

.bg-1 {
  background-color: #ffd027;
}
.bg-2 {
  background-color: #aa2c58;
}
.bg-3 {
  background-color: #2a9d8f;
}
.bg-4 {
  background-color: #214e34;
}

.banner {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
}
.banner-text {
  color: #fff;
  text-shadow: rgba(170, 44, 88, 0.55) 3px 2px 0px;
  font-family: "Parisienne", cursive;
  font-size: 8vw;
  text-align: center;
  width: 100%;
  padding-top: 50vh;
}

.pic-grid {
  display: flex;
}

.pic-grid-item {
  width: 50vw;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.heading-1 {
  font-family: "Parisienne", cursive;
  font-size: 5vw;
  text-align: center;
  margin: 1rem 0;
}
